<div fxFlex="row"  fxLayoutGap="10px" class="borderColor">
    <div>
        <div>
            <img src="./../../assets/images/page-daccueil.png" alt="">
            <p>Accueil</p>
        </div>
        <div>
            <img src="./../../assets/images/utilisateur.png" alt="">
            <p>Mon profil</p>
        </div>
        <div>
            <img src="./../../assets/images/papier.png" alt="">
            <p>Ressources</p>
        </div>
        <div>
            <img src="./../../assets/images/parametres.png" alt="">
            <p>Paramètres</p>
        </div>
    </div>    
</div>

