<div id="RegisterContainer">
  <div id="RegisterMenu">
    <div id="RegisterHeader">
      <div id="RegisterStyle">
        <svg viewBox="0 0 588 414" version="1.1" xmlns="http://www.w3.org/2000/svg"
             xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/"
             style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
    <path d="M0,0L588,0C588,0 473.202,260.167 294,250.451C114.798,240.735 78.978,319.671 0,414L0,0Z"
          style="fill:rgb(3,152,158);"/>
        </svg>
      </div>
      <div id="RegisterLogo">
        <img src="./assets/images/logo.png" alt="">
      </div>
    </div>
    <div class="RegisterForm">
      <h1>Se créer un compte</h1>
      <div class="RegisterInputContainer">
        <div class="prenom">
          <label>Prénom</label>
          <input placeholder="Prénom" type="text">
        </div>
        <div class="nom">
          <label>Nom</label>
          <input placeholder="Nom" type="text">
        </div>
        <div class="birthday">
          <label>Date de naissance</label>
          <input type="date">
        </div>
        <div class="city">
          <label>Ville</label>
          <input placeholder="Ville" type="text">
        </div>
        <div class="address">
          <label>Adresse</label>
          <input placeholder="Adresse" type="text">
        </div>
        <div class="email">
          <label>Email</label>
          <input placeholder="email@xyz.fr" type="mail">
        </div>
        <div class="password">
          <label>Mot de passe</label>
          <input placeholder="motdepasse" type="password">
        </div>
        <div class="repassword">
          <label>Confirmation</label>
          <input placeholder="motdepasse" type="password">
        </div>
      </div>
      <button id="RegisterButton">Valider</button>
    </div>
  </div>
  <div id="RegisterImage">
    <img src="./assets/images/france.png" alt="">
    <h1>Créez vous un compte simplement</h1>
  </div>
</div>
